body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  height:100%;
}
.hidden{
  visibility: hidden;
}
.show {
  visibility: visible;
}
.sidenav {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height:100%;
}
#links{
    text-decoration: underline;
}

#links:hover{
  cursor:pointer;
}

.container {
  font-size: 2vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 2em;
  margin-bottom: 1em;
  width: 100%;
}

#photo {
  width: 100%;
  border-radius: 2em;
}

#photo:hover {
  cursor: pointer;
}
