body {
  display: flex;
  align-items: center;
}
.hidden{
  visibility: hidden;
}
.show {
  visibility: visible;
}
.sidenav {
  display: flex;
  flex-direction: column;
  width: 20%;
  height:100%;
  order: -1;
  border-style: solid;
}

.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.board {
  font-family: sans-serif;
  text-align: center;
  padding: 2%;
  order: 1;
  width: 100%;
}

.photo {
  width: 80%;
  order: 2;
  border-radius: 2em;
}

.photo:hover {
  cursor: pointer;
}
